<!DOCTYPE html>
<html>
    <head>
        <title>{{taskname}}</title>
    </head>
    <body>
        <h1>create {{taskname}} Task:</h1>
        <form class="createtask" method = "POST">
            <label for="Tittle">Tittle: </label>
            <input type="text" id="Tittle" name="Tittle"><br><br>
            <label for="Desc">Description: </label>
            <input type="text" id="Desc" name="Desc" ><br><br>   
            <input type="submit">
        </form>
    </body>
</html>