* {
    margin: 0;
    padding: 0;
}

.left {
    float: left
}

.right {
    float: right
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: red;
}

.navbar ul, li {
    display: inline-block;
    height: 100%;
    margin-top: 0.5rem;
}

.navbar ul, li, a {
    display: inline-block;
    height: 100%;
    color: black;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

.navbar ul, li, a:hover{
    color: blue;
    cursor: pointer;
}

.listofnotes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.notes {
    width: 254px;
    height: 100px;
    background-color:yellowgreen;
    color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;
}

.writenotes {
    width: 50%;
    margin-top: 0.5rem;  
    margin-left: auto;
    margin-right: auto;
}

.writenotes textarea {
width: 100%;
height: 300px;
background-color: sandybrown;
font-size: 15pt;
}